<div class="account container">
  <div style="margin-top:25px;" class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-10">
            <h1> Recommended Immunizations</h1>
        </div>
      </div>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="card col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-gray-dark">High-Dose Flu</h3>
            <p>Type: Flu</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-center">
          <a href="" class="btn btn-outline account-btn">More Information</a>
          <a href="" class="btn btn-primary account-btn">Schedule</a>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-gray-dark">Prevnar13</h3>
            <p>Type: pneumonia </p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-center">
          <a href="" class="btn btn-outline account-btn">More Information</a>
          <a href="" class="btn btn-primary account-btn">Schedule</a>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-gray-dark">Zostavax</h3>
            <p>Type: shingles </p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-center">
          <a href="" class="btn btn-outline account-btn">More Information</a>
          <a href="" class="btn btn-primary account-btn">Schedule</a>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="text-gray-dark">Tdap</h3>
            <p>Type: tetanus booster </p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-center">
          <a href="" class="btn btn-outline account-btn">More Information</a>
          <a href="" class="btn btn-primary account-btn">Schedule</a>
        </div>
      </div>
    </div>
  </div>
</div>
