.service-card {
  background-color: #FFF;
  height:40vh;
  width:100%;
  position:relative;
  p{
    padding:75px 10px 0 10px;
  }
  .title{
    position: absolute;
    top:0;
    width:100%;
    text-align:center;
    height:50px;
    padding:5px;
  }
}
