<div class="row">
  <div class="col-lg-6">
    <div class="service-card">
      <div class="title" style="background-color:#d23a6d">
        <h3>Web Development</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eaque eius error illo inventore labore laboriosam magni non odio perspiciatis recusandae, rem repellat, repellendus tenetur voluptas. Aperiam ipsa quis saepe!alias delectus dignissimos doloribus esse eum facere impedit iusto nam necessitatibus nesciunt odit omnis quaerat quasi sint sit soluta, tempora tempore veniam vero. Aperiam eos non quas quia similique?A doloremque ex impedit itaque nam, neque officia perspiciatis quisquam! Adipisci beatae cum cumque dolor eaque eligendi exercitationem, minima molestiae perferendis qui sint, tenetur. Assumenda aut esse explicabo quaerat quo.
      </p>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="service-card align-self-start">
      <div class="title" style="background-color:#494544">
        <h3>UX Consulting</h3>
      </div>
    </div>
  </div>
</div>
