@import "../../variables";

svg {
  fill: $accent;
  height:75px;
  width:75px;
  position: absolute;
  top:5px;
  left:25px;
}

nav {
  height:75px;
  position:relative;
  a {
    color: #FFF;
    padding: 5px;
    margin:15px;
    transition: .2s;
    &.action {
      color: $accent;
    }
    &:hover, &:active, &:focus{
      border-bottom: 1px solid;
      text-decoration: none;
    }
  }
}
