@import "../../variables";

.hero-container {
  height:95vh;
  background-color: $lighter;
  position:relative;
  .overlay{
    height:100%;
    width:100%;
    top:0;
    left:0;
    position:absolute;
    background-color: rgba(0,0,0,.45);
    z-index:10;
  }
  img{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
  }
  h1:nth-of-type(1) {
    z-index:15;
    top:10%;
    left:10%;
    font-size:4em;
    font-weight:600;
    position: absolute;
  }
  h1:nth-of-type(2) {
    z-index:15;
    top:20%;
    left:10%;
    font-size:2em;
    position: absolute;
    font-family: 'Playfair Display', cursive;
    font-weight:200;
  }
}


