<div class="account container">
  <div style="margin-top:25px;" class="row">
    <div class="col-lg-12">
      <h1>Your Prescriptions</h1>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="card col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
            <img class="img-circle" src="http://placehold.it/125x125">
          </div>
          <div class="col-lg-7 col-md-6 col-sm-6">
            <h3 class="text-gray-dark">Lisinopril 10 mg</h3>
            <p>Last Filled: 02/15/2017</p>
            <p>Refills: 5 until 02/15/2018</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-center">
          <a href="" class="btn btn-outline account-btn">More Information</a>
          <a href="" class="btn btn-primary account-btn">Refill Prescription</a>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
            <img class="img-circle" src="http://placehold.it/125x125">
          </div>
          <div class="col-lg-7 col-md-6 col-sm-6">
            <h3 class="text-gray-dark">Simvastatin 10 mg</h3>
            <p>Last Filled: 02/15/2017</p>
            <p>Refills: 5 until 02/15/2018</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-center">
          <a href="" class="btn btn-outline account-btn">More Information</a>
          <a href="" class="btn btn-primary account-btn">Refill Prescription</a>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
            <img class="img-circle" src="http://placehold.it/125x125">
          </div>
          <div class="col-lg-7 col-md-6 col-sm-6">
            <h3 class="text-gray-dark">Aspirin 10 mg</h3>
            <p>Last Filled: 02/15/2017</p>
            <p>Refills: 5 until 02/15/2018</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-center">
          <a href="" class="btn btn-outline account-btn">More Information</a>
          <a href="" class="btn btn-primary account-btn">Refill Prescription</a>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
            <img class="img-circle" src="http://placehold.it/125x125">
          </div>
          <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
            <h3 class="text-gray-dark">Lisinopril 10 mg</h3>
            <p>Last Filled: 02/15/2017</p>
            <p>Refills: 5 until 02/15/2018</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-center">
          <a href="" class="btn btn-outline account-btn">More Information</a>
          <a href="" class="btn btn-primary account-btn">Refill Prescription</a>
        </div>
      </div>
    </div>
  </div>
</div>
